
<u><p>Current Cupboard:</p></u>
<ul class="needs">
    <li *ngFor="let need of needs | needFilter:filter">
        <button type="button" routerLink="/detail/{{need.id}}">
            <span class="id">{{need.id}}</span>
            <div class="data">
                <span class="name">{{need.name}}</span>
                <span class="cost">{{need.price | currency}}</span>
                <span class="quanity">Quanity: {{need.quantity}}</span>
            </div>
        </button>
        <button type="button" class="modify" *ngIf="isHelper" (click)="moveToBasket(need)">+</button>
        <button type="button" class="modify" *ngIf="isAdmin" (click)="delete(need)">-</button>
    </li>
</ul>

