<h2>Needs</h2>
<!-- <label for="new-need">Need name: </label>
<input id="new-need" #needName />

<button type="button" class="add-button" (click)="add(needName.value); needName.value=''">
  Add need
</button> -->

<ul class="needs">
    <li *ngFor="let need of needs">
        <a routerLink="/detail/{{need.id}}">
            <span class="badge">{{need.id}}</span> {{need.name}}
        </a>
        <button type="button">
            <span class="id">{{need.id}}</span>
            <div class="data">
                <span class="name">{{need.name}}</span>
                <span class="cost">{{need.price | currency}}</span>
                <span class="quanity">Quanity: {{need.quantity}}</span>
            </div>
        </button>
    </li>
</ul>

<!-- <h2>My Heroes</h2> -->

<!-- <div> 
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  // (click) passes input value to add() and then clears the input
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button type="button" class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>
-->