<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!--Logout Button-->
<div class="logout">
    <button type="button" class="logout" (click)="goBack()">Logout</button>
    <i class="material-icons">logout</i>
</div>


<h2>Hello Helper!</h2>
<p>Select needs to add to your funding basket</p>

<div *ngIf="getValidated()">


<div class="cupboard">
    <!-- Needs Cupboard -->
    <app-needs></app-needs>
</div>

<div class="basket">
    <!-- Funding Basket -->
    <app-funding-basket></app-funding-basket>
</div>

<div class="search">
    <!-- Search bar -->
    <app-need-search></app-need-search>
</div>

<div class="footer">
    <!--Footer-->
    <p>Footer</p>
    <i class="material-icons">music_note</i>
</div>